doctype html
html
  head
    title Open Flair Festival Timetable
    link(rel='stylesheet', href='/css/styles.css')
  body
    h1 Open Flair Festival Timetable
    a(href='/timetable') View Timetable
