doctype html
html
  head
    title Open Flair Festival 2024
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
    script(src='/js/main.js')
  body
    h1 Open Flair 2024
    .container
      each date in Object.keys(eventsGroupedByDate)
        .event-group
          .event-group-header= date
          each event in eventsGroupedByDate[date]
            .event
              .details
                h2= event.name
                p= event.stage
                p= event.time
    // Add the filter button
    .filter-button
      span.material-symbols-outlined filter_list

    // Add the search button
    .search-button
      span.material-symbols-outlined search

    // Add the reset button (initially hidden)
    .reset-button.hidden
      span.material-symbols-outlined restart_alt

    // Add the modal for the stage filter
    .modal.hidden
      .modal-content
        span.close-button &times;
        h2 Select Stage
        ul.stage-list
