@font-face {
  font-family: 'VincaStencil';
  src: url('/fonts/vinca_stencil.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #1a1a1a;
  color: #fff;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 20px 0;
  padding-top: 20px;
  font-size: 2.5em;
  color: #fff;
  font-family: 'VincaStencil', Arial, sans-serif;
}
.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  padding-top: env(safe-area-inset-top);
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #e60000;
  border-radius: 5px;
  outline: none;
}

.search-bar input:focus {
  border-color: #cc0000;
}

.bottom-buttons {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  gap: 20px;
  align-items: flex-end; /* Buttons am unteren Rand ausrichten */
  flex-direction: column; /* In eine Spalte anordnen */
}

.filter-button, .reset-button, .favorite-toggle {
  background-color: #e60000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.filter-button:hover, .reset-button:hover, .favorite-toggle:hover {
  background-color: #cc0000;
}

.favorite-toggle.active {
  background-color: #fff;
  color: #e60000;
}

.day-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  left: 30px; /* Abstand vom linken Rand */
  z-index: 10; /* Damit die Buttons immer sichtbar sind */
}

.day-button {
  background-color: #e60000;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 1em;
  text-align: center;
}

.day-button span {
  font-size: 0.6em;
}

.day-button:hover {
  background-color: #cc0000;
}

.material-symbols-outlined {
  font-size: 36px;
}

.modal.hidden {
  display: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.material-symbols-outlined {
  font-size: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.event-group {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
}

.event-group-header {
  padding: 10px;
  background-color: #444;
  font-size: 1.5em;
  border-bottom: 1px solid #555;
  text-align: left;
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #555;
}

.event:last-child {
  border-bottom: none;
}

.event-info {
  flex-grow: 1;
  display: flex;
  justify-content: space-between; /* Platzierung des Favoritenknopfes rechts */
  align-items: left;
  position: relative;
}

.event-info.grid-container {
  display: grid;
  align-items: center;
  gap: 10px;
}

.grid-item {
  text-align: left; /* Links ausgerichtet */
  padding-bottom: 10%;
}

.event h2 {
  margin: 0;
  font-size: 1.2em;
  color: #e60000; /* Rotton des Logos */
  text-align: left; /* linksbündig */
  flex-grow: 1; /* sorgt dafür, dass der Bandname den verfügbaren Platz einnimmt */
}

.event p {
  margin: 5px 0;
  font-size: 1em;
  color: #bbb;
}

.favorite-button { background: none;
  border: none;
  cursor: pointer;
  color: #bbb;
}

.favorite-button.active {
  color: #ff0000;
}

.stage-item {
  background-color: #e60000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

.stage-item:hover {
  background-color: #cc0000;
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li.stage-item {
  background-color: #e60000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

.modal-content li.stage-item:hover {
  background-color: #cc0000;
}

@supports(padding:max(0px)) {
  body, header, footer {
    padding-left: min(0vmin, env(safe-area-inset-left));
    padding-right: min(0vmin, env(safe-area-inset-right));
  }
}

#welcome-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#welcome-modal .modal-content {
  text-align: center;
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
}

#welcome-modal .modal-content h1,
#welcome-modal .modal-content h2,
#welcome-modal .modal-content p {
  margin-bottom: 20px;
}

#welcome-modal .modal-content button {
  padding: 10px 20px;
  background-color: #e60000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#welcome-modal .modal-content button:hover {
  background-color: #cc0000;
}

.hidden {
  display: none;
}

.update-message {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ff9800;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 16px;
  z-index: 1000;
}


/* Mobile view */
@media (max-width: 1200px) {
  .event {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
  }

  .event h2 {
    font-size: 1.2em;
  }

  .event p {
    font-size: 1em;
  }

  .modal-content {
    width: 90%;
    padding: 50px;
  }

  .filter-button, .reset-button, .favorite-toggle {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 4em;
    letter-spacing: 4px;
  }

  .event-group-header {
    font-size: 3em;
  }

  .favorite-button {
    scale: 150%;
  }

  .day-button {
    width: 40px;
    height: 40px;
  }
  
}
