body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1a1a1a;
  color: #fff;
}

h1 {
  text-align: center;
  margin: 20px 0;
  font-size: 2.5em;
  color: #fff;
}

.search-bar {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  font-size: 1.2em;
  border: 2px solid #0073e6;
  border-radius: 5px;
  outline: none;
}

.search-bar input:focus {
  border-color: #005bb5;
}

.day-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.day-button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 0.8em;
  text-align: center;
}

.day-button p {
  margin: 0;
  font-size: 0.6em;
}

.day-button:hover {
  background-color: #005bb5;
}

.filter-button {
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.filter-button:hover {
  background-color: #005bb5;
}

.modal.hidden {
  display: none;
}

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  background-color: #333;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 600px;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}

.bottom-buttons {
  position: fixed;
  bottom: 20px;
  left: 20px;
  display: flex;
  gap: 20px;
}

.favorite-toggle, .reset-button {
  background-color: #0073e6;
  color: #fff;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background-color 0.3s;
}

.favorite-toggle:hover, .reset-button:hover {
  background-color: #005bb5;
}

.favorite-toggle.active {
  background-color: #fff;
  color: #0073e6;
}

.material-symbols-outlined {
  font-size: 36px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.event-group {
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #333;
}

.event-group-header {
  padding: 10px;
  background-color: #444;
  font-size: 1.5em;
  border-bottom: 1px solid #555;
  text-align: left; /* left-aligned */
}

.event {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #555;
}

.event:last-child {
  border-bottom: none;
}

.event-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.event h2 {
  margin: 0;
  font-size: 1.2em;
  color: #0073e6;
  text-align: left; /* left-aligned */
}

.event p {
  margin: 5px 0;
  font-size: 1em;
  color: #bbb;
  text-align: left; /* left-aligned */
}

.favorite-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: #bbb;
  align-self: flex-start; /* right-aligned */
}

.favorite-button.active {
  color: #ff0000;
}

.stage-item {
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

.stage-item:hover {
  background-color: #005bb5;
}

/* Mobile view */
@media (max-width: 1200px) {
  .event {
    flex-direction: column;
    align-items: flex-start;
    padding: 40px;
    font-size: 2.5em;
  }

  .event h2 {
    font-size: 3em;
  }

  .event p {
    font-size: 2.5em;
  }

  .modal-content {
    width: 90%;
    padding: 50px;
  }

  .filter-button, .reset-button, .day-button {
    width: 100px;
    height: 100px;
  }

  .material-symbols-outlined {
    font-size: 50px;
  }

  .reset-button {
    left: 140px;
  }

  h1 {
    font-size: 4em;
  }

  .event-group-header {
    font-size: 3em;
  }
}

.modal-content ul {
  list-style-type: none;
  padding: 0;
}

.modal-content li.stage-item {
  background-color: #0073e6;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin: 5px 0;
  text-align: center;
}

.modal-content li.stage-item:hover {
  background-color: #005bb5;
}

